<a href="https://colab.research.google.com/github/megharajs07/DAV1/blob/main/Pandas_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# download dataset
# !gdown 1s2TkjSpzNc4SyxqRrQleZyDIHlc7bxnd
# !gdown 1Ws-_s1fHZ9nHfGLVUQurbHDvStePlEJm

In [3]:
import pandas as pd

movies = pd.read_csv('https://raw.githubusercontent.com/megharajs07/DAV1/refs/heads/main/movies.csv', index_col = 0)
movies.head()

,id,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day
0,43597,237000000,150,2787965087,Avatar,7.2,11800,4762,2009,Dec,Thursday
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday
2,43599,245000000,107,880674609,Spectre,6.3,4466,4764,2015,Oct,Monday
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday
5,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday

columns as features

In [4]:
movies.shape

(1465, 11)

In [5]:
movies['id'].nunique()

1465

In [6]:
movies['director_id'].nunique()

199

In [7]:
directors = pd.read_csv('https://raw.githubusercontent.com/megharajs07/DAV1/refs/heads/main/directors.csv', index_col = 0)
directors.head()

       director_name    id gender
0      James Cameron  4762   Male
1     Gore Verbinski  4763   Male
2         Sam Mendes  4764   Male
3  Christopher Nolan  4765   Male
4     Andrew Stanton  4766   Male

In [8]:
movies.head()

,id,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day
0,43597,237000000,150,2787965087,Avatar,7.2,11800,4762,2009,Dec,Thursday
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday
2,43599,245000000,107,880674609,Spectre,6.3,4466,4764,2015,Oct,Monday
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday
5,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday

In [9]:
directors.shape

(2349, 3)

In [10]:
directors['director_name'].nunique()

2349

In [11]:
directors['id'].nunique()

2349

In [12]:
movies['director_id'].nunique()

199

In [13]:
movies['director_id']

0       4762
1       4763
2       4764
3       4765
5       4767
        ...
4736    4809
4743    5369
4748    5148
4749    5535
4768    5097
Name: director_id, Length: 1465, dtype: int64

In [14]:
import numpy  as np
some_dir_id = 4767

np.any(directors['id'] == some_dir_id)

True

In [15]:
(directors['id'] == some_dir_id).value_counts()

id
False    2348
True        1
Name: count, dtype: int64

In [16]:
directors[directors['id'] == some_dir_id]

  director_name    id gender
5     Sam Raimi  4767   Male

### isin
- isin: takes in iterable such as series, list, numpy array etc and return a series of True and False

In [17]:
directors['id']

0       4762
1       4763
2       4764
3       4765
4       4766
        ...
2344    7106
2345    7107
2346    7108
2347    7109
2348    7110
Name: id, Length: 2349, dtype: int64

In [18]:
movies['director_id'].isin([4767])

0       False
1       False
2       False
3       False
5        True
        ...
4736    False
4743    False
4748    False
4749    False
4768    False
Name: director_id, Length: 1465, dtype: bool

In [19]:
# you can think for this as for_loop on director_id where each dir_id is being checked in directors['id']
np.all(movies['director_id'].isin(directors['id']))

True

In [20]:
data = pd.merge(movies, directors,
                left_on = 'director_id',
                right_on = 'id',
                suffixes=('_movies', '_dirs'))
data.head()

,id_movies,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day,director_name,id_dirs,gender
0,43597,237000000,150,2787965087,Avatar,7.2,11800,4762,2009,Dec,Thursday,James Cameron,4762,Male
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday,Gore Verbinski,4763,Male
2,43599,245000000,107,880674609,Spectre,6.3,4466,4764,2015,Oct,Monday,Sam Mendes,4764,Male
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday,Christopher Nolan,4765,Male
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday,Sam Raimi,4767,Male

In [21]:
data.shape

(1465, 14)

In [22]:
directors.head()

       director_name    id gender
0      James Cameron  4762   Male
1     Gore Verbinski  4763   Male
2         Sam Mendes  4764   Male
3  Christopher Nolan  4765   Male
4     Andrew Stanton  4766   Male

In [23]:
movies.head()

,id,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day
0,43597,237000000,150,2787965087,Avatar,7.2,11800,4762,2009,Dec,Thursday
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday
2,43599,245000000,107,880674609,Spectre,6.3,4466,4764,2015,Oct,Monday
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday
5,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1465 entries, 0 to 1464
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id_movies      1465 non-null   int64
 1   budget         1465 non-null   int64
 2   popularity     1465 non-null   int64
 3   revenue        1465 non-null   int64
 4   title          1465 non-null   object
 5   vote_average   1465 non-null   float64
 6   vote_count     1465 non-null   int64
 7   director_id    1465 non-null   int64
 8   year           1465 non-null   int64
 9   month          1465 non-null   object
 10  day            1465 non-null   object
 11  director_name  1465 non-null   object
 12  id_dirs        1465 non-null   int64
 13  gender         1341 non-null   object
dtypes: float64(1), int64(8), object(5)
memory usage: 160.4+ KB

In [25]:
data.head()

,id_movies,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day,director_name,id_dirs,gender
0,43597,237000000,150,2787965087,Avatar,7.2,11800,4762,2009,Dec,Thursday,James Cameron,4762,Male
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday,Gore Verbinski,4763,Male
2,43599,245000000,107,880674609,Spectre,6.3,4466,4764,2015,Oct,Monday,Sam Mendes,4764,Male
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday,Christopher Nolan,4765,Male
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday,Sam Raimi,4767,Male

Specifying: suffixes=('_x', '_y')

In [26]:
data = data.drop('id_dirs', axis = 1)
data.head()

,id_movies,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day,director_name,gender
0,43597,237000000,150,2787965087,Avatar,7.2,11800,4762,2009,Dec,Thursday,James Cameron,Male
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday,Gore Verbinski,Male
2,43599,245000000,107,880674609,Spectre,6.3,4466,4764,2015,Oct,Monday,Sam Mendes,Male
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday,Christopher Nolan,Male
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday,Sam Raimi,Male

In [27]:
data['gender'].value_counts()

gender
Male      1309
Female      32
Name: count, dtype: int64

In [28]:
data.shape

(1465, 13)

- apply some function on each row of gender column

In [29]:
def encode(x):
  if x == 'Female':
    return 1
  else:
    return 0

encode('Male')

0

In [30]:
encode('Female')

1

we need apply encode on every singe row of gender column

In [31]:
data['gender'].apply(encode)

0       0
1       0
2       0
3       0
4       0
       ..
1460    0
1461    0
1462    0
1463    0
1464    0
Name: gender, Length: 1465, dtype: int64

In [32]:
data['gender'].value_counts()

gender
Male      1309
Female      32
Name: count, dtype: int64

In [33]:
data['gender'] = data['gender'].apply(encode)
data.head()

,id_movies,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day,director_name,gender
0,43597,237000000,150,2787965087,Avatar,7.2,11800,4762,2009,Dec,Thursday,James Cameron,0
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday,Gore Verbinski,0
2,43599,245000000,107,880674609,Spectre,6.3,4466,4764,2015,Oct,Monday,Sam Mendes,0
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday,Christopher Nolan,0
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday,Sam Raimi,0

let's take multiple cols and apply some func

In [34]:
np.sum([1,2])

3

In [35]:
data[['budget', 'revenue']].apply(np.sum) # colwise sum by applying functions on sum(rows) columnwise

budget      70353617179
revenue    209866997305
dtype: int64

In [36]:
data[['budget', 'revenue']].apply(np.sum, axis = 1) # row wise sum: budget + rev row_wise

0       3024965087
1       1261000000
2       1125674609
3       1334939099
4       1148871626
           ...
1460        321952
1461       3178130
1462             0
1463             0
1464       2260920
Length: 1465, dtype: int64

In [37]:
data['budget'] > 100000000

0        True
1        True
2        True
3        True
4        True
        ...
1460    False
1461    False
1462    False
1463    False
1464    False
Name: budget, Length: 1465, dtype: bool

In [38]:
data[data['budget'] > 100000000]

,id_movies,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day,director_name,gender
0,43597,237000000,150,2787965087,Avatar,7.2,11800,4762,2009,Dec,Thursday,James Cameron,0
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday,Gore Verbinski,0
2,43599,245000000,107,880674609,Spectre,6.3,4466,4764,2015,Oct,Monday,Sam Mendes,0
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday,Christopher Nolan,0
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday,Sam Raimi,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,43897,105000000,58,121214377,Starship Troopers,6.7,1560,4889,1997,Nov,Thursday,Paul Verhoeven,0
186,43898,102000000,73,130482868,Cloud Atlas,6.6,2977,4936,2012,Oct,Friday,Tom Tykwer,0
201,43929,115000000,41,274703340,Lara Croft: Tomb Raider,5.7,2192,4930,2001,Jun,Monday,Simon West,0
290,44088,130000000,50,117831631,Pompeii,5.2,1267,4974,2014,Feb,Tuesday,Paul W.S. Anderson,0
328,44162,150000000,47,919838758,Shrek 2,6.7,2988,4774,2004,May,Wednesday,Andrew Adamson,0

In [39]:
data[data['budget'] > 100000000]

,id_movies,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day,director_name,gender
0,43597,237000000,150,2787965087,Avatar,7.2,11800,4762,2009,Dec,Thursday,James Cameron,0
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday,Gore Verbinski,0
2,43599,245000000,107,880674609,Spectre,6.3,4466,4764,2015,Oct,Monday,Sam Mendes,0
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday,Christopher Nolan,0
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday,Sam Raimi,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,43897,105000000,58,121214377,Starship Troopers,6.7,1560,4889,1997,Nov,Thursday,Paul Verhoeven,0
186,43898,102000000,73,130482868,Cloud Atlas,6.6,2977,4936,2012,Oct,Friday,Tom Tykwer,0
201,43929,115000000,41,274703340,Lara Croft: Tomb Raider,5.7,2192,4930,2001,Jun,Monday,Simon West,0
290,44088,130000000,50,117831631,Pompeii,5.2,1267,4974,2014,Feb,Tuesday,Paul W.S. Anderson,0
328,44162,150000000,47,919838758,Shrek 2,6.7,2988,4774,2004,May,Wednesday,Andrew Adamson,0

In [40]:
dir_max_budg = data.groupby('director_name')['budget'].max()
dir_max_budg

director_name
Adam McKay                     100000000
Adam Shankman                   80000000
Alejandro Gonzlez Irritu    135000000
Alex Proyas                    140000000
Alexander Payne                 30000000
                                 ...
Wes Craven                      40000000
Wolfgang Petersen              175000000
Woody Allen                     30000000
Zack Snyder                    250000000
Zhang Yimou                     94000000
Name: budget, Length: 199, dtype: int64

In [41]:
dir_max_budg > 100000000

director_name
Adam McKay                     False
Adam Shankman                  False
Alejandro Gonzlez Irritu     True
Alex Proyas                     True
Alexander Payne                False
                               ...
Wes Craven                     False
Wolfgang Petersen               True
Woody Allen                    False
Zack Snyder                     True
Zhang Yimou                    False
Name: budget, Length: 199, dtype: bool

In [42]:
dir_max_budg[dir_max_budg > 100000000]

director_name
Alejandro Gonzlez Irritu    135000000
Alex Proyas                    140000000
Andrew Adamson                 225000000
Ang Lee                        137000000
Barry Sonnenfeld               225000000
                                 ...
Tim Story                      130000000
Tom Shadyac                    175000000
Tom Tykwer                     102000000
Wolfgang Petersen              175000000
Zack Snyder                    250000000
Name: budget, Length: 79, dtype: int64

In [43]:
names = dir_max_budg[dir_max_budg > 100000000].index

In [44]:
names

Index(['Alejandro Gonzlez Irritu', 'Alex Proyas', 'Andrew Adamson',
       'Ang Lee', 'Barry Sonnenfeld', 'Bill Condon', 'Brett Ratner',
       'Bryan Singer', 'Chris Columbus', 'Chris Weitz', 'Christopher Nolan',
       'Darren Aronofsky', 'David Ayer', 'David Fincher', 'Doug Liman',
       'Edward Zwick', 'Francis Lawrence', 'Frank Coraci', 'George Miller',
       'Gore Verbinski', 'Guillermo del Toro', 'Guy Ritchie', 'James Cameron',
       'James Mangold', 'James Wan', 'Jan de Bont', 'Joe Wright',
       'Joel Schumacher', 'John McTiernan', 'John Woo', 'Jon Favreau',
       'Jon M. Chu', 'Jon Turteltaub', 'Jonathan Liebesman', 'Justin Lin',
       'Kenneth Branagh', 'Kevin Reynolds', 'Lee Tamahori', 'Lilly Wachowski',
       'Louis Leterrier', 'M. Night Shyamalan', 'Marc Forster',
       'Martin Campbell', 'Martin Scorsese', 'McG', 'Michael Apted',
       'Michael Bay', 'Michael Mann', 'Mike Newell', 'Oliver Stone',
       'Paul Greengrass', 'Paul Verhoeven', 'Paul W.S. Anderson', 'Peter Berg',
       'Peter Jackson', 'Phillip Noyce', 'Raja Gosnell', 'Richard Donner',
       'Ridley Scott', 'Rob Cohen', 'Rob Marshall', 'Rob Minkoff',
       'Robert Schwentke', 'Robert Zemeckis', 'Roger Donaldson',
       'Roland Emmerich', 'Ron Howard', 'Sam Mendes', 'Sam Raimi',
       'Shawn Levy', 'Simon West', 'Steven Soderbergh', 'Steven Spielberg',
       'Tim Burton', 'Tim Story', 'Tom Shadyac', 'Tom Tykwer',
       'Wolfgang Petersen', 'Zack Snyder'],
      dtype='object', name='director_name')

In [45]:
budget = dir_max_budg[dir_max_budg > 100000000].values
budget

array([135000000, 140000000, 225000000, 137000000, 225000000, 120000000,
       210000000, 270000000, 125000000, 180000000, 250000000, 125000000,
       175000000, 150000000, 178000000, 140000000, 160000000, 110000000,
       150000000, 300000000, 180000000, 125000000, 237000000, 120000000,
       190000000, 160000000, 150000000, 125000000, 160000000, 125000000,
       200000000, 130000000, 150000000, 150000000, 185000000, 150000000,
       175000000, 140000000, 176000003, 150000000, 150000000, 200000000,
       200000000, 170000000, 200000000, 155000000, 210000000, 107000000,
       150000000, 155000000, 120000000, 105000000, 130000000, 209000000,
       250000000, 110000000, 110000000, 140000000, 200000000, 145000000,
       380000000, 145000000, 130000000, 200000000, 116000000, 200000000,
       150000000, 245000000, 258000000, 150000000, 115000000, 110000000,
       185000000, 200000000, 130000000, 175000000, 102000000, 175000000,
       250000000])

In [46]:
data

,id_movies,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day,director_name,gender
0,43597,237000000,150,2787965087,Avatar,7.2,11800,4762,2009,Dec,Thursday,James Cameron,0
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday,Gore Verbinski,0
2,43599,245000000,107,880674609,Spectre,6.3,4466,4764,2015,Oct,Monday,Sam Mendes,0
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday,Christopher Nolan,0
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday,Sam Raimi,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460,48363,0,3,321952,The Last Waltz,7.9,64,4809,1978,May,Monday,Martin Scorsese,0
1461,48370,27000,19,3151130,Clerks,7.4,755,5369,1994,Sep,Tuesday,Kevin Smith,0
1462,48375,0,7,0,Rampage,6.0,131,5148,2009,Aug,Friday,Uwe Boll,0
1463,48376,0,3,0,Slacker,6.4,77,5535,1990,Jul,Friday,Richard Linklater,0
1464,48395,220000,14,2040920,El Mariachi,6.6,238,5097,1992,Sep,Friday,Robert Rodriguez,0

In [47]:
data['director_name'].isin(names)

0        True
1        True
2        True
3        True
4        True
        ...
1460     True
1461    False
1462    False
1463    False
1464    False
Name: director_name, Length: 1465, dtype: bool

In [48]:
data[data['director_name'].isin(names)]

,id_movies,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day,director_name,gender
0,43597,237000000,150,2787965087,Avatar,7.2,11800,4762,2009,Dec,Thursday,James Cameron,0
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday,Gore Verbinski,0
2,43599,245000000,107,880674609,Spectre,6.3,4466,4764,2015,Oct,Monday,Sam Mendes,0
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday,Christopher Nolan,0
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday,Sam Raimi,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1450,48267,400000,33,100000000,Mad Max,6.6,1213,4845,1979,Apr,Thursday,George Miller,0
1451,48268,200000,13,4505922,Swingers,6.8,253,4813,1996,Oct,Friday,Doug Liman,0
1452,48274,0,5,2611555,Three,6.3,31,4936,2010,Dec,Thursday,Tom Tykwer,0
1458,48335,60000,27,3221152,Pi,7.1,586,4881,1998,Jul,Friday,Darren Aronofsky,0
1460,48363,0,3,321952,The Last Waltz,7.9,64,4809,1978,May,Monday,Martin Scorsese,0

In [49]:
def high_budget(x):
  return x['budget'].max() > 100000000

In [50]:
data.groupby('director_name').filter(high_budget)

,id_movies,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day,director_name,gender
0,43597,237000000,150,2787965087,Avatar,7.2,11800,4762,2009,Dec,Thursday,James Cameron,0
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday,Gore Verbinski,0
2,43599,245000000,107,880674609,Spectre,6.3,4466,4764,2015,Oct,Monday,Sam Mendes,0
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday,Christopher Nolan,0
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday,Sam Raimi,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1450,48267,400000,33,100000000,Mad Max,6.6,1213,4845,1979,Apr,Thursday,George Miller,0
1451,48268,200000,13,4505922,Swingers,6.8,253,4813,1996,Oct,Friday,Doug Liman,0
1452,48274,0,5,2611555,Three,6.3,31,4936,2010,Dec,Thursday,Tom Tykwer,0
1458,48335,60000,27,3221152,Pi,7.1,586,4881,1998,Jul,Friday,Darren Aronofsky,0
1460,48363,0,3,321952,The Last Waltz,7.9,64,4809,1978,May,Monday,Martin Scorsese,0

In [51]:
 # lambda
data.groupby('director_name').filter(lambda x:x['budget'].max()> 100000000)

,id_movies,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day,director_name,gender
0,43597,237000000,150,2787965087,Avatar,7.2,11800,4762,2009,Dec,Thursday,James Cameron,0
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday,Gore Verbinski,0
2,43599,245000000,107,880674609,Spectre,6.3,4466,4764,2015,Oct,Monday,Sam Mendes,0
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday,Christopher Nolan,0
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday,Sam Raimi,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1450,48267,400000,33,100000000,Mad Max,6.6,1213,4845,1979,Apr,Thursday,George Miller,0
1451,48268,200000,13,4505922,Swingers,6.8,253,4813,1996,Oct,Friday,Doug Liman,0
1452,48274,0,5,2611555,Three,6.3,31,4936,2010,Dec,Thursday,Tom Tykwer,0
1458,48335,60000,27,3221152,Pi,7.1,586,4881,1998,Jul,Friday,Darren Aronofsky,0
1460,48363,0,3,321952,The Last Waltz,7.9,64,4809,1978,May,Monday,Martin Scorsese,0

# High Risk directors:
- if a movie has higher budget than avg for that director => high risk director

In [60]:
def risky(x):
  x['risky'] = x['budget'] - x['budget'].mean() > 0
  return x

In [53]:
data['budget'].mean()

48022946.87986348

In [61]:
data.groupby('director_name').apply(risky)

<ipython-input-61-547b10dbd5ed>:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  data.groupby('director_name').apply(risky)

                    id_movies     budget  popularity    revenue  \
director_name
Adam McKay    176       43882  100000000          24  170432927
              323       44151   72500000          12  162966177
              366       44236   65000000          22  128107642
              505       44503   50000000          38  173649015
              839       45301   28000000          57  133346506
...                       ...        ...         ...        ...
Zhang Yimou   590       44692        110           9          0
              604       44733   31000000          23  177394432
              1217      46460          0          21   92863945
              1223      46493          0           1          0
              1389      47489          0           6          0

                                                          title  vote_average  \
director_name
Adam McKay    176                                The Other Guys           6.1
              323   Talladega Nights: The Ballad of Ricky Bobby           6.2
              366                                 Step Brothers           6.5
              505             Anchorman 2: The Legend Continues           6.0
              839                                 The Big Short           7.3
...                                                         ...           ...
Zhang Yimou   590                    Curse of the Golden Flower           6.6
              604                                          Hero           7.2
              1217                      House of Flying Daggers           7.1
              1223             A Woman, a Gun and a Noodle Shop           4.8
              1389                                  Coming Home           6.9

                    vote_count  director_id  year month        day  \
director_name
Adam McKay    176         1383         4925  2010   Aug     Friday
              323          491         4925  2006   Aug     Friday
              366         1062         4925  2008   Jul     Friday
              505          923         4925  2013   Dec  Wednesday
              839         2607         4925  2015   Dec     Friday
...                        ...          ...   ...   ...        ...
Zhang Yimou   590          203         4945  2006   Dec   Thursday
              604          635         4945  2002   Dec   Thursday
              1217         439         4945  2004   May  Wednesday
              1223          13         4945  2009   Dec     Friday
              1389          49         4945  2014   May     Friday

                   director_name  gender  risky
director_name
Adam McKay    176     Adam McKay       0   True
              323     Adam McKay       0   True
              366     Adam McKay       0   True
              505     Adam McKay       0  False
              839     Adam McKay       0  False
...                          ...     ...    ...
Zhang Yimou   590    Zhang Yimou       0  False
              604    Zhang Yimou       0   True
              1217   Zhang Yimou       0  False
              1223   Zhang Yimou       0  False
              1389   Zhang Yimou       0  False

[1465 rows x 14 columns]

In [63]:
data = data.groupby('director_name', group_keys = False).apply(risky)

<ipython-input-63-56e23b1bd649>:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  data = data.groupby('director_name', group_keys = False).apply(risky)

In [64]:
data['risky'].value_counts()

risky
False    809
True     656
Name: count, dtype: int64

In [65]:
data[data['risky'] == True]

,id_movies,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day,director_name,gender,risky
0,43597,237000000,150,2787965087,Avatar,7.2,11800,4762,2009,Dec,Thursday,James Cameron,0,True
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday,Gore Verbinski,0,True
2,43599,245000000,107,880674609,Spectre,6.3,4466,4764,2015,Oct,Monday,Sam Mendes,0,True
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday,Christopher Nolan,0,True
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday,Sam Raimi,0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1319,47023,6500000,11,13368437,Friends with Money,5.1,128,6204,2006,Sep,Thursday,Nicole Holofcener,1,True
1349,47229,5000000,3,4842699,90 Minutes in Heaven,5.4,40,5951,2015,Sep,Friday,Michael Polish,0,True
1356,47263,15000000,10,0,Dying of the Light,4.5,118,5970,2014,Dec,Thursday,Paul Schrader,0,True
1361,47296,15000000,30,13060843,25th Hour,7.2,629,5195,2002,Dec,Monday,Spike Lee,0,True
1393,47524,3000000,5,0,Please Give,6.0,57,6204,2010,Jan,Friday,Nicole Holofcener,1,True

# Most Productive Directors

- More work, more productive, more movies, for the timeperiod

In [66]:
data['director_name'].value_counts()

director_name
Steven Spielberg      26
Martin Scorsese       19
Clint Eastwood        19
Woody Allen           18
Ridley Scott          16
                      ..
Tim Hill               5
Jonathan Liebesman     5
Roman Polanski         5
Larry Charles          5
Nicole Holofcener      5
Name: count, Length: 199, dtype: int64

In [67]:
data.groupby('director_name')['year'].aggregate(['min','max'])

                              min   max
director_name
Adam McKay                   2004  2015
Adam Shankman                2001  2012
Alejandro Gonzlez Irritu  2000  2015
Alex Proyas                  1994  2016
Alexander Payne              1999  2013
...                           ...   ...
Wes Craven                   1984  2011
Wolfgang Petersen            1981  2006
Woody Allen                  1977  2013
Zack Snyder                  2004  2016
Zhang Yimou                  2002  2014

[199 rows x 2 columns]

In [70]:
data_agg = data.groupby('director_name').aggregate({'year' : ['min','max'], 'title':['count']})

In [71]:
data_agg

                             year       title
                              min   max count
director_name
Adam McKay                   2004  2015     6
Adam Shankman                2001  2012     8
Alejandro Gonzlez Irritu  2000  2015     6
Alex Proyas                  1994  2016     5
Alexander Payne              1999  2013     5
...                           ...   ...   ...
Wes Craven                   1984  2011    10
Wolfgang Petersen            1981  2006     7
Woody Allen                  1977  2013    18
Zack Snyder                  2004  2016     7
Zhang Yimou                  2002  2014     6

[199 rows x 3 columns]

In [72]:
data_agg.columns

MultiIndex([( 'year',   'min'),
            ( 'year',   'max'),
            ('title', 'count')],
           )

In [73]:
data_agg.head()

                             year       title
                              min   max count
director_name
Adam McKay                   2004  2015     6
Adam Shankman                2001  2012     8
Alejandro Gonzlez Irritu  2000  2015     6
Alex Proyas                  1994  2016     5
Alexander Payne              1999  2013     5

In [74]:
data_agg.columns = ['year_min', 'year_max', 'title_count']
data_agg

                             year_min  year_max  title_count
director_name
Adam McKay                       2004      2015            6
Adam Shankman                    2001      2012            8
Alejandro Gonzlez Irritu      2000      2015            6
Alex Proyas                      1994      2016            5
Alexander Payne                  1999      2013            5
...                               ...       ...          ...
Wes Craven                       1984      2011           10
Wolfgang Petersen                1981      2006            7
Woody Allen                      1977      2013           18
Zack Snyder                      2004      2016            7
Zhang Yimou                      2002      2014            6

[199 rows x 3 columns]

In [75]:
data_agg.reset_index(inplace = True)
data_agg

                   director_name  year_min  year_max  title_count
0                     Adam McKay      2004      2015            6
1                  Adam Shankman      2001      2012            8
2    Alejandro Gonzlez Irritu      2000      2015            6
3                    Alex Proyas      1994      2016            5
4                Alexander Payne      1999      2013            5
..                           ...       ...       ...          ...
194                   Wes Craven      1984      2011           10
195            Wolfgang Petersen      1981      2006            7
196                  Woody Allen      1977      2013           18
197                  Zack Snyder      2004      2016            7
198                  Zhang Yimou      2002      2014            6

[199 rows x 4 columns]

In [76]:
data_agg['active_years'] = data_agg['year_max'] - data_agg['year_min']
data_agg

,director_name,year_min,year_max,title_count,active_years
0,Adam McKay,2004,2015,6,11
1,Adam Shankman,2001,2012,8,11
2,Alejandro Gonzlez Irritu,2000,2015,6,15
3,Alex Proyas,1994,2016,5,22
4,Alexander Payne,1999,2013,5,14
...,...,...,...,...,...
194,Wes Craven,1984,2011,10,27
195,Wolfgang Petersen,1981,2006,7,25
196,Woody Allen,1977,2013,18,36
197,Zack Snyder,2004,2016,7,12
198,Zhang Yimou,2002,2014,6,12

In [77]:
data_agg['movies_per_year'] = data_agg['title_count'] / data_agg['active_years']

data_agg

,director_name,year_min,year_max,title_count,active_years,movies_per_year
0,Adam McKay,2004,2015,6,11,0.545455
1,Adam Shankman,2001,2012,8,11,0.727273
2,Alejandro Gonzlez Irritu,2000,2015,6,15,0.400000
3,Alex Proyas,1994,2016,5,22,0.227273
4,Alexander Payne,1999,2013,5,14,0.357143
...,...,...,...,...,...,...
194,Wes Craven,1984,2011,10,27,0.370370
195,Wolfgang Petersen,1981,2006,7,25,0.280000
196,Woody Allen,1977,2013,18,36,0.500000
197,Zack Snyder,2004,2016,7,12,0.583333
198,Zhang Yimou,2002,2014,6,12,0.500000

In [78]:
data_agg.sort_values(by = 'movies_per_year', ascending = False,inplace = True)
data_agg

,director_name,year_min,year_max,title_count,active_years,movies_per_year
190,Tyler Perry,2006,2013,9,7,1.285714
73,Jason Friedberg,2006,2010,5,4,1.250000
169,Shawn Levy,2002,2014,11,12,0.916667
158,Robert Rodriguez,1992,2014,16,22,0.727273
1,Adam Shankman,2001,2012,8,11,0.727273
...,...,...,...,...,...,...
104,Lawrence Kasdan,1985,2012,5,27,0.185185
109,Luc Besson,1985,2014,5,29,0.172414
157,Robert Redford,1980,2010,5,30,0.166667
170,Sidney Lumet,1976,2006,5,30,0.166667
117,Michael Apted,1980,2010,5,30,0.166667

In [79]:
data_agg.loc[190]

director_name      Tyler Perry
year_min                  2006
year_max                  2013
title_count                  9
active_years                 7
movies_per_year       1.285714
Name: 190, dtype: object

In [80]:
data_agg.iloc[0]

director_name      Tyler Perry
year_min                  2006
year_max                  2013
title_count                  9
active_years                 7
movies_per_year       1.285714
Name: 190, dtype: object

#working with  pfizer dataset

In [81]:
!gdown 173A59xh2mnpmljCCB9bhC4C5eP2IS6qZ

Downloading...
From: https://drive.google.com/uc?id=173A59xh2mnpmljCCB9bhC4C5eP2IS6qZ
To: /content/Pfizer_1.csv
100% 1.51k/1.51k [00:00<00:00, 4.91MB/s]

In [82]:
data = pd.read_csv('Pfizer_1.csv')

In [83]:
data

,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
0,15-10-2020,diltiazem hydrochloride,Temperature,23.0,22.0,NaN,21.0,21.0,22,23.0,21.0,22.0,20,20.0,21
1,15-10-2020,diltiazem hydrochloride,Pressure,12.0,13.0,NaN,11.0,13.0,14,16.0,16.0,24.0,18,19.0,20
2,15-10-2020,docetaxel injection,Temperature,NaN,17.0,18.0,NaN,17.0,18,NaN,NaN,23.0,23,25.0,25
3,15-10-2020,docetaxel injection,Pressure,NaN,22.0,22.0,NaN,22.0,23,NaN,NaN,27.0,26,29.0,28
4,15-10-2020,ketamine hydrochloride,Temperature,24.0,NaN,NaN,27.0,NaN,26,25.0,24.0,23.0,22,21.0,20
5,15-10-2020,ketamine hydrochloride,Pressure,8.0,NaN,NaN,7.0,NaN,9,10.0,11.0,10.0,9,9.0,11
6,16-10-2020,diltiazem hydrochloride,Temperature,34.0,35.0,36.0,36.0,37.0,38,37.0,38.0,39.0,40,NaN,42
7,16-10-2020,diltiazem hydrochloride,Pressure,18.0,19.0,20.0,21.0,22.0,23,24.0,25.0,25.0,24,NaN,27
8,16-10-2020,docetaxel injection,Temperature,46.0,47.0,NaN,48.0,48.0,49,50.0,52.0,55.0,56,57.0,58
9,16-10-2020,docetaxel injection,Pressure,23.0,24.0,NaN,25.0,26.0,27,28.0,29.0,28.0,28,29.0,30
10,16-10-2020,ketamine hydrochloride,Temperature,8.0,9.0,10.0,NaN,11.0,12,12.0,11.0,NaN,13,14.0,15
11,16-10-2020,ketamine hydrochloride,Pressure,12.0,12.0,13.0,NaN,15.0,15,15.0,15.0,NaN,16,17.0,18
12,17-10-2020,diltiazem hydrochloride,Temperature,20.0,19.0,19.0,18.0,17.0,16,15.0,NaN,13.0,14,11.0,10
13,17-10-2020,diltiazem hydrochloride,Pressure,3.0,4.0,4.0,4.0,6.0,8,9.0,NaN,9.0,11,13.0,14
14,17-10-2020,docetaxel injection,Temperature,12.0,13.0,14.0,15.0,16.0,17,18.0,19.0,20.0,21,22.0,23
15,17-10-2020,docetaxel injection,Pressure,20.0,22.0,22.0,22.0,22.0,23,25.0,26.0,27.0,28,29.0,28
16,17-10-2020,ketamine hydrochloride,Temperature,13.0,14.0,15.0,16.0,17.0,18,19.0,20.0,21.0,22,23.0,24
17,17-10-2020,ketamine hydrochloride,Pressure,8.0,9.0,10.0,11.0,11.0,12,12.0,11.0,12.0,13,14.0,15

In [84]:
data.shape

(18, 15)

In [85]:
pd.melt(data, id_vars = ['Date',	'Drug_Name',	'Parameter'])

           Date                Drug_Name    Parameter  variable  value
0    15-10-2020  diltiazem hydrochloride  Temperature   1:30:00   23.0
1    15-10-2020  diltiazem hydrochloride     Pressure   1:30:00   12.0
2    15-10-2020      docetaxel injection  Temperature   1:30:00    NaN
3    15-10-2020      docetaxel injection     Pressure   1:30:00    NaN
4    15-10-2020   ketamine hydrochloride  Temperature   1:30:00   24.0
..          ...                      ...          ...       ...    ...
211  17-10-2020  diltiazem hydrochloride     Pressure  12:30:00   14.0
212  17-10-2020      docetaxel injection  Temperature  12:30:00   23.0
213  17-10-2020      docetaxel injection     Pressure  12:30:00   28.0
214  17-10-2020   ketamine hydrochloride  Temperature  12:30:00   24.0
215  17-10-2020   ketamine hydrochloride     Pressure  12:30:00   15.0

[216 rows x 5 columns]

In [86]:
18*15

270

In [87]:
216*5

1080